/* article.css */
:root {
    --primary-color: #66aa70;
    --light-green: #f3fff4;
    --dark-green:#306143  ;
    --heading-color: #054705; --white: white;
    --black: #000;
    --grey: #6c6c6c;
}

.article {
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;

}

.image {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.image img {
    width: 100%;
    height: auto;
}

.text {
    text-align: center;
    color: var(--grey);

}

.text h2 {
    padding-bottom: 10px;
    color: var(--heading-color);

}

.button {
    
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    max-width: 555px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

/* MainNews.css */

.main-news-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;
    /* Adjust this value to make the section wider */
    margin: 0 auto;
    padding: 20px 10px;
    /* Adjust the horizontal padding */
}


/* Media query for small devices */
@media (max-width: 768px) {
    .main-news-container{
        flex-direction: column;
    }
}


