/* gallery.css */
:root {
    --primary-color: #66aa70;
    --light-green: #f3fff4;
    --dark-green:#306143  ;
    --white: white;
    --black: #000;
    --grey: #6c6c6c;
}


.gallery {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gallery h1 {
    font-weight: 700;
    font-size: 30px;
    color: var(--dark-green);
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px
}

.images img {
    width: 100%;
    max-width: 345px;
    height: 159px;
    border-radius: 13px;
    padding: 5px 2px;
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .gallery{
        width: 30%;
    }
}
