/* Carousel.css */
.carousel-container {
    width: 100%;
}

.mySwiper {
    margin: 21px;
}

.slide-content {
    position: relative;
    height: 35rem;
    overflow: hidden;
    /* Hide gradient overflow */
}

.color-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0));
}

.slide-content img {
    height: 35rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #fff;
    font-weight: 500;
    max-width: 60%;
}

.slider-text h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.swiper-pagination {
    margin-bottom: 5rem;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}

.swiper-pagination-bullet-active {
    background: white;
}

.swiper-button-prev {
    color: white;
    /* Set to white */
}

.swiper-button-next {
    color: white;
    /* Set to white */
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -73px;
}
/* Media query for mobile phones */
@media (max-width: 480px) {

}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .carousel-container,
    .mySwiper,
    .slide-content,
    .color-overlay,
    .slide-content img,
    .slider-text {
        width: 100%;
        margin: 0;
        margin-top: 0.5vh;
        max-width: 100%;
    }

    .slide-content,
    .slide-content img {
        height: auto;
    }

    .slider-text {
        bottom: 5%;
        left: 0%;
        font-size: 18px;
    }

    .slider-text h1 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .slider-text p {
        text-align: center;
        font-size: 10px;
        padding: 0 10%;
    }

    .swiper-pagination {
        margin-bottom: 2rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        font-size: 1rem;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -30px;
    }
}